@import 'https://fonts.googleapis.com/css?family=Dosis:400,600';

/*http://stackoverflow.com/questions/18192082/bootstrap-3-navbar-collapse*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.centered {
    text-align: center;
}

body {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .navbar{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}

.green {
    color: #2BFF12;
}
a.green:hover {
    color: #16e000;
}

.title_span {
    color: #333;
    text-decoration: none;
}


.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0px;
}

.navbar-brand.mobile,
.navbar-nav.mobile li a {
    line-height: 40px;
    height: 40px;
}

.navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
}

.algae-logo-desktop {
    width: 90px;
}
.algae-logo-a-desktop {
    padding-top: 10px;
}

.algae-logo-mobile {
    width: 180px;
}
.algae-logo-a-mobile {
    padding-top: 15px;
}

/* BUTTON SUCCESS CHANGES */

.btn-algae {
    color:#333/**/;
    background-color:#2bff12/**/;
    border-color:#19fa00/**/
}
.btn-algae.focus,
.btn-algae:focus {
    color:#333/**/;
    background-color:#16e000/**/;
    border-color:#0c7a00/**/
}
.btn-algae:hover {
    color:#333/**/;
    background-color:#16e000/**/;
    border-color:#13bd00/**/
}
.btn-algae.active,
.btn-algae:active,
.open>.dropdown-toggle.btn-algae {
    color:#333/**/;
    background-color:#16e000/**/;
    border-color:#13bd00/**/
}
.btn-algae.active.focus,
.btn-algae.active:focus,
.btn-algae.active:hover,
.btn-algae:active.focus,
.btn-algae:active:focus,
.btn-algae:active:hover,
.open>.dropdown-toggle.btn-algae.focus,
.open>.dropdown-toggle.btn-algae:focus,
.open>.dropdown-toggle.btn-algae:hover {
    color:#333/**/;
    background-color:#13bd00/**/;
    border-color:#0c7a00/**/
}
.btn-algae.active,
.btn-algae:active,
.open>.dropdown-toggle.btn-algae {
    background-image:none
}
.btn-algae.disabled,
.btn-algae.disabled.active,
.btn-algae.disabled.focus,
.btn-algae.disabled:active,
.btn-algae.disabled:focus,
.btn-algae.disabled:hover,
.btn-algae[disabled],
.btn-algae[disabled].active,
.btn-algae[disabled].focus,
.btn-algae[disabled]:active,
.btn-algae[disabled]:focus,
.btn-algae[disabled]:hover,
fieldset[disabled] .btn-algae,
fieldset[disabled] .btn-algae.active,
fieldset[disabled] .btn-algae.focus,
fieldset[disabled] .btn-algae:active,
fieldset[disabled] .btn-algae:focus,
fieldset[disabled] .btn-algae:hover {
    background-color:#2bff12/**/;
    border-color:#19fa00/**/
}
.btn-algae .badge {
    color:#2bff12/**/;
    background-color:#fff
}

/* CUSTOM UNDERLINE */

.green-underline span {
  text-decoration: none;
  background-image: -webkit-linear-gradient(rgba(141, 179, 89, 0.25) 0%, #2BFF12 100%);
  background-image: linear-gradient(rgba(141, 179, 89, 0.25) 0%, #2BFF12 100%);
  background-repeat: repeat-x;
  background-size: 3px 3px;
  background-position: 0 95%;
  text-shadow: 3px 0 white, 2px 0 white, 1px 0 white, -1px 0 white, -2px 0 white, -3px 0 white;
}
@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
  .green-underline span {
    background-image: -webkit-linear-gradient(rgba(141, 179, 89, 0.25) 0%, #2BFF12 100%);
    background-image: linear-gradient(rgba(141, 179, 89, 0.25) 0%, #2BFF12 100%);
    background-position: 0 93%;
  }
}
